<div class="text-center">
    <h1>
        Register or Login
    </h1>
    <a class="btn btn-primary mr-3" asp-action="Register" asp-controller="Registration">
        Register
    </a>
    <a class="btn btn-primary" asp-action="Login" asp-controller="Registration">
        Login
    </a>
</div>